{% extends 'main.html' %}
{% block content %}

<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Filter</button>
</form>

    <h1>Filtered forms</h1>
    {% if invoices %}
    <table id="invoiceTable" class="table table-bordered">
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Department</th>
                <th>Invoice Total</th> 
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.vendor }}</td>
                <td>{{ invoice.department }}</td>
                <td>{{ invoice.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No invoices match the selected criteria.</p>
    {% endif %}
{% endblock %}
