{% extends 'main.html' %}
{% block content %}
<div class="container p-5">
    <!-- Links -->
    {% include 'links.html' %}
    <!-- Chart -->
    <div class="card card-border border-dark">
        <div style="width: 100%;">
            <div class="card">
                <div>
                    <canvas id="barGraph"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    const ctxBarGraph = document.getElementById('barGraph');
                    const department_name = [{% for label in department_labels %}'{{ label }}',{% endfor %}];
                    const spend = [{% for spend in total_spend %}{{ spend }},{% endfor %}];
                    new Chart(ctxBarGraph, {
                        type: 'bar',
                        data: {
                            labels:department_name ,
                            datasets: [{
                                label: 'Total Spend by Department',
                                data: spend,
                                backgroundColor: 'blue',
                                borderWidth: 1,
                            }],
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    title: {
                                        display: true,
                                        text: 'Total Spend',
                                    },
                                },
                            },
                        },
                    });
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}